html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;

  background-color: var(--color-lightest);
}

:root {
  --color-background-primary: #2b2028;
  --color-text-emphasized: #b143e5;
  --color-text-white: #ffffff;
  --color-button-primary: #b143e5;
  --color-button-dark: #640b8e;

  --landing-view-max-width: 1400px;
  --landing-content-max-width: 1200px;
}

.shadow {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(172, 52, 229, 0.4) 0%,
      rgba(189, 155, 206, 0.05) 71.46%,
      var(--color-background-primary) 100%
    );
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

:where(h1, h2, h3, h4, h5, h6) {
  margin: 0;
}

svg {
  display: block;
}