@use "./_breakpoints.scss";

:where(html, body) {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;

  background-color: var(--color-lightest);

  overflow-x: hidden;

  font-size: 16px;
  @media (max-width: breakpoints.$laptop) {
    font-size: 14px;
  }
  @media (max-width: breakpoints.$tablet) {
    font-size: 12px;
  }
  @media (max-width: breakpoints.$phone) {
    font-size: 10px;
  }
}

:root {
  --color-background-primary: #2b2028;
  --color-text-emphasized: #b143e5;
  --color-text-white: #ffffff;
  --color-button-primary: #b143e5;
  --color-button-dark: #640b8e;

  --landing-view-max-width: 1400px;
  --landing-content-max-width: 1200px;
}

h1 {
  font-size: 4rem;
}

:where(button, span, p, em, strong) {
  font-size: 16pt;
}

code, pre {
  font-size: 12pt;

  & :is(button, span, p, em, strong) {
    font-size: inherit;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

:where(h1, h2, h3, h4, h5, h6, p) {
  margin: 0;

  & > :is(button, span, p, em, strong, code, pre) {
    font-size: inherit;
  }
}

svg {
  display: block;
}

.button-base {
  border-radius: 8px;
  background-color: var(--color-button-primary);
  color: var(--color-text-white);
  padding: 1rem 1.75rem;
  text-decoration: none;
}