html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: var(--color-lightest);
}

:root {
  --color-lightest: #f8f8f8;
  --color-primary: #cccccc; 
  --color-text: rgba(0, 0, 0, 0.83);
}

h1 {
  font-size: 3.5rem;
}

em {
  font-style: italic;
}