html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: var(--color-lightest);
}

:root {
  --color-background-primary: #2B2028;
  --color-text-emphasized: #B143E5;
  --color-text-white: #ffffff;
  --color-primary: #B143E5;
}

svg {
  display: block;
}

em {
  font-style: italic;
}